body {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f8f8f8;
  color: #333;
}

header {
  background-color: #292b2c;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

h1 {
  color: red;
  font-size: 32px;
}

nav {
  margin-top: 20px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

nav li {
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  font-size: 1.2em;
  transition: color 0.3s;
}

nav a:hover {
  color: #e44d26;
}

#hero {
  text-align: center;
  padding: 50px 0;
  background-color: #e44d26;
  color: #fff;
}

#hero h2 {
  font-size: 2.5em;
  margin-bottom: 20px;
}

#hero p {
  font-size: 1.2em;
  color: #fff;
}

#menu h2 {
  text-align: center;
  font-size: 2em;
  margin-bottom: 30px;
  color: #e44d26;
}

.menu-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* Style Menu item */
.menu-item {
  text-align: center;
  padding: 20px;
  margin: 20px;
  background-color: #f8f8f8; /* Ubah warna latar belakang sesuai keinginan Anda */
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.menu-item:hover {
  transform: scale(1.1); /* Menyesuaikan efek zoom saat dihover */
}

.menu-item img {
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 15px;
}

.menu-item h3 {
  margin: 10px 0;
  font-size: 1.5em;
  color: #e44d26; /* Ubah warna teks judul sesuai keinginan Anda */
}

.menu-item p {
  color: #777;
  margin-bottom: 15px;
}

.buy-button {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.buy-button:hover {
  background-color: #fff;
  color: #e44d26;
}

#about,
#contact {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

#about h2,
#contact h2 {
  font-size: 2em;
  margin-bottom: 30px;
  color: #e44d26;
}

footer {
  background-color: #292b2c;
  color: #fff;
  padding: 20px 0;
  text-align: center;
}

footer p {
  margin: 0;
}

#contact {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

#contact h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #e44d26;
}

#contact p {
  color: #555;
  margin-bottom: 30px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 1.2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2em;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-button {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
  background-color: #333;
}
#contact {
  background-color: #fff;
  padding: 50px 0;
  text-align: center;
}

#contact h2 {
  font-size: 2.5em;
  margin-bottom: 30px;
  color: #e44d26;
}

#contact p {
  color: #555;
  margin-bottom: 30px;
}

.container {
  max-width: 800px;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
  font-size: 1.2em;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

label {
  font-size: 1.2em;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.submit-button {
  background-color: #e44d26;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.submit-button:hover {
  background-color: #333;
}
